{
    "openapi": "3.0.0",
    "info": {
        "title": "VSCO Workspace API",
        "termsOfService": "https:\/\/terms-of-service.vsco.page\/",
        "description": "This API is for interacting with a single Studio using <a href=\"https:\/\/workspace.vsco.co\/settings\/api\" target=\"_blank\">an API Key<\/a>.",
        "contact": {
            "name": "VSCO Workspace Support",
            "url": "https:\/\/help.workspace.vsco.co\/",
            "email": "workspace-support@vsco.co"
        },
        "version": "v2.0.0",
        "x-logo": {
            "url": "https:\/\/workspace.vsco.co\/static\/Images\/Public\/Logo.Black.vsco.svg",
            "altText": "VSCO Workspace"
        }
    },
    "servers": [
        {
            "url": "https:\/\/tave.io\/v2",
            "description": "Legacy T\u00e1ve API production environment"
        },
        {
            "url": "https:\/\/workspace.vsco.co\/api\/v2",
            "description": "Workspace API production environment"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": []
        },
        {
            "BearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Rest Hooks",
            "description": "Webhooks based on <a href=\"https:\/\/zapier.com\/engineering\/introducing-resthooksorg\/\" target=\"_blank\">Zapier's now-deprecated REST Hooks specification<\/a>.<br> <br> You can use these to receive a postback to a custom URL when certain events happen in VSCO Workspace.<br> <br> Much like an Automation Web Request Action, these webhooks will trigger when the event occurs. However, for security reasons, only the <code>targetId<\/code> will be provided, which you'll then use to fetch the current version of the entity via the API."
        },
        {
            "name": "Client Access Schedulers",
            "description": "<b style=\"color:#c00\">PRIVATE BETA.<\/b> Scheduling endpoints are not yet available for public consumption. Accessing them without the required grants will result in a 403 error."
        },
        {
            "name": "Schedulers",
            "description": "<b style=\"color:#c00\">PRIVATE BETA.<\/b> Scheduling endpoints are not yet available for public consumption. Accessing them without the required grants will result in a 403 error."
        }
    ],
    "x-tagGroups": [
        {
            "name": "Jobs & Contacts",
            "tags": [
                "Jobs",
                "Job Contacts",
                "Job Worksheets",
                "Contacts",
                "Events",
                "Files",
                "Galleries",
                "Notes",
                "Orders",
                "Payment"
            ]
        },
        {
            "name": "Studio Settings",
            "tags": [
                "Studio",
                "Brands",
                "Custom Fields",
                "Discounts",
                "Discount Types",
                "Event Types",
                "File Types",
                "Job Closed Reasons",
                "Job Roles",
                "Job Types",
                "Lead Sources",
                "Lead Statuses",
                "Payment Methods",
                "Products",
                "Product Types",
                "Profit Centers",
                "Tax Groups",
                "Tax Rates",
                "Timezones",
                "Users"
            ]
        },
        {
            "name": "API Resources",
            "tags": [
                "Rest Hooks"
            ]
        }
    ],
    "paths": {
        "\/address-book": {
            "get": {
                "summary": "List contacts of a studio",
                "operationId": "listResourceAddressBook",
                "x-entity": "Contact",
                "tags": [
                    "Contacts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/email"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                },
                                {
                                    "title": "kind",
                                    "enum": [
                                        "kind",
                                        "kind asc",
                                        "kind desc"
                                    ]
                                },
                                {
                                    "title": "accountBalance",
                                    "enum": [
                                        "accountBalance",
                                        "accountBalance asc",
                                        "accountBalance desc"
                                    ]
                                },
                                {
                                    "title": "anniversary",
                                    "enum": [
                                        "anniversary",
                                        "anniversary asc",
                                        "anniversary desc"
                                    ]
                                },
                                {
                                    "title": "anonymized",
                                    "enum": [
                                        "anonymized",
                                        "anonymized asc",
                                        "anonymized desc"
                                    ]
                                },
                                {
                                    "title": "bestDayToCall",
                                    "enum": [
                                        "bestDayToCall",
                                        "bestDayToCall asc",
                                        "bestDayToCall desc"
                                    ]
                                },
                                {
                                    "title": "bestTimeToCall",
                                    "enum": [
                                        "bestTimeToCall",
                                        "bestTimeToCall asc",
                                        "bestTimeToCall desc"
                                    ]
                                },
                                {
                                    "title": "cellPhone",
                                    "enum": [
                                        "cellPhone",
                                        "cellPhone asc",
                                        "cellPhone desc"
                                    ]
                                },
                                {
                                    "title": "companyName",
                                    "enum": [
                                        "companyName",
                                        "companyName asc",
                                        "companyName desc"
                                    ]
                                },
                                {
                                    "title": "contactPreference",
                                    "enum": [
                                        "contactPreference",
                                        "contactPreference asc",
                                        "contactPreference desc"
                                    ]
                                },
                                {
                                    "title": "creditBalance",
                                    "enum": [
                                        "creditBalance",
                                        "creditBalance asc",
                                        "creditBalance desc"
                                    ]
                                },
                                {
                                    "title": "email",
                                    "enum": [
                                        "email",
                                        "email asc",
                                        "email desc"
                                    ]
                                },
                                {
                                    "title": "fax",
                                    "enum": [
                                        "fax",
                                        "fax asc",
                                        "fax desc"
                                    ]
                                },
                                {
                                    "title": "firstName",
                                    "enum": [
                                        "firstName",
                                        "firstName asc",
                                        "firstName desc"
                                    ]
                                },
                                {
                                    "title": "gender",
                                    "enum": [
                                        "gender",
                                        "gender asc",
                                        "gender desc"
                                    ]
                                },
                                {
                                    "title": "homePhone",
                                    "enum": [
                                        "homePhone",
                                        "homePhone asc",
                                        "homePhone desc"
                                    ]
                                },
                                {
                                    "title": "jobTitle",
                                    "enum": [
                                        "jobTitle",
                                        "jobTitle asc",
                                        "jobTitle desc"
                                    ]
                                },
                                {
                                    "title": "lastName",
                                    "enum": [
                                        "lastName",
                                        "lastName asc",
                                        "lastName desc"
                                    ]
                                },
                                {
                                    "title": "maidenName",
                                    "enum": [
                                        "maidenName",
                                        "maidenName asc",
                                        "maidenName desc"
                                    ]
                                },
                                {
                                    "title": "previousClient",
                                    "enum": [
                                        "previousClient",
                                        "previousClient asc",
                                        "previousClient desc"
                                    ]
                                },
                                {
                                    "title": "privacyOptIn",
                                    "enum": [
                                        "privacyOptIn",
                                        "privacyOptIn asc",
                                        "privacyOptIn desc"
                                    ]
                                },
                                {
                                    "title": "requireStrictPrivacy",
                                    "enum": [
                                        "requireStrictPrivacy",
                                        "requireStrictPrivacy asc",
                                        "requireStrictPrivacy desc"
                                    ]
                                },
                                {
                                    "title": "salutation",
                                    "enum": [
                                        "salutation",
                                        "salutation asc",
                                        "salutation desc"
                                    ]
                                },
                                {
                                    "title": "schoolGradYear",
                                    "enum": [
                                        "schoolGradYear",
                                        "schoolGradYear asc",
                                        "schoolGradYear desc"
                                    ]
                                },
                                {
                                    "title": "schoolName",
                                    "enum": [
                                        "schoolName",
                                        "schoolName asc",
                                        "schoolName desc"
                                    ]
                                },
                                {
                                    "title": "sport",
                                    "enum": [
                                        "sport",
                                        "sport asc",
                                        "sport desc"
                                    ]
                                },
                                {
                                    "title": "teamName",
                                    "enum": [
                                        "teamName",
                                        "teamName asc",
                                        "teamName desc"
                                    ]
                                },
                                {
                                    "title": "teamPosition",
                                    "enum": [
                                        "teamPosition",
                                        "teamPosition asc",
                                        "teamPosition desc"
                                    ]
                                },
                                {
                                    "title": "workPhone",
                                    "enum": [
                                        "workPhone",
                                        "workPhone asc",
                                        "workPhone desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address book list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/AddressBookCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create an entry in the address book.",
                "operationId": "createResourceAddressBook",
                "tags": [
                    "Contacts"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#\/components\/schemas\/Person"
                                    },
                                    {
                                        "$ref": "#\/components\/schemas\/Company"
                                    },
                                    {
                                        "$ref": "#\/components\/schemas\/Location"
                                    }
                                ],
                                "discriminator": {
                                    "propertyName": "kind"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Address book creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/Person"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Company"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Location"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "kind"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/address-book\/{id}": {
            "get": {
                "summary": "Fetch a specific Address Book entity.",
                "operationId": "getResourceAddressBook",
                "tags": [
                    "Contacts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Address book list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/Person"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Company"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Location"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "kind"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific entry in the address book",
                "operationId": "updateResourceAddressBook",
                "tags": [
                    "Contacts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#\/components\/schemas\/Person"
                                    },
                                    {
                                        "$ref": "#\/components\/schemas\/Company"
                                    },
                                    {
                                        "$ref": "#\/components\/schemas\/Location"
                                    }
                                ],
                                "discriminator": {
                                    "propertyName": "kind"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address book list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/Person"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Company"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/Location"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "kind",
                                        "mapping": {
                                            "person": "..\/schemas\/entities\/Person.yaml",
                                            "company": "..\/schemas\/entities\/Company.yaml",
                                            "location": "..\/schemas\/entities\/Location.yaml"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an entry in the address book.",
                "operationId": "deleteResourceAddressBook",
                "tags": [
                    "Contacts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/brand": {
            "get": {
                "summary": "List brands of a studio",
                "operationId": "listResourceBrand",
                "x-entity": "Brand",
                "tags": [
                    "Brands"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/BrandCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a brand",
                "operationId": "createResourceBrand",
                "tags": [
                    "Brands"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Brand"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Brand creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/brand\/{id}": {
            "get": {
                "summary": "Get a specific brand",
                "operationId": "getResourceBrand",
                "tags": [
                    "Brands"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific Brand entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific brand.",
                "operationId": "updateResourceBrand",
                "tags": [
                    "Brands"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Brand"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Brand response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a brand.",
                "operationId": "deleteResourceBrand",
                "tags": [
                    "Brands"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/client\/address-book\/{id}\/address": {
            "get": {
                "operationId": "getResourceAddressBookCA",
                "summary": "Get the address associated with the given location",
                "tags": [
                    "Schedulers - Client Access"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch the address for the given location.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CAAddress"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/custom-field": {
            "get": {
                "summary": "List of Custom Fields on a studio",
                "operationId": "listResourceCustomField",
                "x-entity": "CustomField",
                "parameters": [
                    {
                        "name": "canApplyTo",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "contact",
                                "job"
                            ]
                        }
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "textfield",
                                    "textbox",
                                    "number",
                                    "money",
                                    "checkbox",
                                    "date",
                                    "decimal",
                                    "dropdown",
                                    "time"
                                ]
                            }
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "tags": [
                    "Custom Fields"
                ],
                "responses": {
                    "200": {
                        "description": "Custom Fields list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CustomFieldCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a custom field.",
                "operationId": "createResourceCustomField",
                "tags": [
                    "Custom Fields"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CustomField"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Custom Field creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/custom-field\/{id}": {
            "get": {
                "summary": "Get a specific Custom Field",
                "operationId": "getResourceCustomField",
                "tags": [
                    "Custom Fields"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific Custom Field",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific Custom Field",
                "operationId": "updateResourceCustomField",
                "tags": [
                    "Custom Fields"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/CustomField"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Custom Field response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/CustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a Custom Field.",
                "operationId": "deleteResourceCustomField",
                "tags": [
                    "Custom Fields"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/discount-type": {
            "get": {
                "summary": "Get a list of discount types",
                "operationId": "listResourceDiscountType",
                "x-entity": "ProductType",
                "parameters": [
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "tags": [
                    "Discount Types"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response for discount type list.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/DiscountTypeCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a discount type.",
                "operationId": "createResourceDiscountType",
                "tags": [
                    "Discount Types"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/DiscountType"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Discount type creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/DiscountType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/discount-type\/{id}": {
            "get": {
                "summary": "Get a specific discount type.",
                "operationId": "getResourceDiscountType",
                "tags": [
                    "Discount Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieve a specific discount type",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/DiscountType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specifc discount type",
                "operationId": "deleteResourceDiscountType",
                "tags": [
                    "Discount Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/discount": {
            "get": {
                "summary": "Get a list of discounts",
                "operationId": "listResourceDiscount",
                "x-entity": "Product",
                "parameters": [
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "tags": [
                    "Discounts"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response for discount list.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/DiscountCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a discount.",
                "operationId": "createResourceDiscount",
                "tags": [
                    "Discounts"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Discount"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Discount creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Discount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/discount\/{id}": {
            "get": {
                "summary": "Get a specific discount.",
                "operationId": "getResourceDiscount",
                "tags": [
                    "Discounts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieve a specific discount",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Discount"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a specifc discount",
                "operationId": "deleteResourceDiscount",
                "tags": [
                    "Discounts"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/event-type": {
            "get": {
                "summary": "List of a studio\u2019s event types",
                "operationId": "listResourceEventType",
                "x-entity": "EventType",
                "tags": [
                    "Event Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                },
                                {
                                    "title": "sortPosition",
                                    "enum": [
                                        "sortPosition",
                                        "sortPosition asc",
                                        "sortPosition desc"
                                    ]
                                }
                            ],
                            "default": "sortPosition"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event type list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/EventTypeCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create an event type.",
                "operationId": "createResourceEventType",
                "tags": [
                    "Event Types"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/EventType"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Event type creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/EventType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/event-type\/{id}": {
            "get": {
                "summary": "Get a specific event type",
                "operationId": "getResourceEventType",
                "tags": [
                    "Event Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific Event Type entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/EventType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific event type.",
                "operationId": "updateResourceEventType",
                "tags": [
                    "Event Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/EventType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Event Type response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/EventType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an event type.",
                "operationId": "deleteResourceEventType",
                "tags": [
                    "Event Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/event": {
            "get": {
                "summary": "List of a studio\u2019s events",
                "operationId": "listResourceEvent",
                "x-entity": "Event",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/jobId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/EventCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create an event.",
                "operationId": "createResourceEvent",
                "tags": [
                    "Events"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Event"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Event creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Event"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/event\/{id}": {
            "get": {
                "summary": "Get a specific event",
                "operationId": "getResourceEvent",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific Event entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Event"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific event.",
                "operationId": "updateResourceEvent",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Event"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Event response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Event"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an event.",
                "operationId": "deleteResourceEvent",
                "tags": [
                    "Events"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/file-type": {
            "get": {
                "summary": "List file types",
                "operationId": "listResourceFileType",
                "x-entity": "AssetType",
                "tags": [
                    "File Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File type list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FileTypeCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/file-type\/{id}": {
            "get": {
                "summary": "Get a specific file type",
                "operationId": "getResourceFileType",
                "tags": [
                    "File Types"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific File entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FileType"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/file": {
            "get": {
                "summary": "List files",
                "operationId": "listResourceFile",
                "x-entity": "Asset",
                "tags": [
                    "Files"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/jobId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/contactId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "File list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/FileCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a file.",
                "operationId": "createResourceFile",
                "tags": [
                    "Files"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/File"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "File creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/file\/{id}": {
            "get": {
                "summary": "Get a specific file",
                "operationId": "getResourceFile",
                "tags": [
                    "Files"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific File entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific file.",
                "operationId": "updateResourceFile",
                "tags": [
                    "Files"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/File"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "File response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/File"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete a file.",
                "operationId": "deleteResourceFile",
                "tags": [
                    "Files"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/gallery": {
            "get": {
                "summary": "List of a studio\u2019s galleries",
                "operationId": "listResourceGallery",
                "x-entity": "Gallery",
                "tags": [
                    "Galleries"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "name asc"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gallery list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/GalleryCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create an gallery.",
                "operationId": "createResourceGallery",
                "tags": [
                    "Galleries"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Gallery"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Gallery creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Gallery"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/gallery\/{id}": {
            "get": {
                "summary": "Get a specific gallery",
                "operationId": "getResourceGallery",
                "tags": [
                    "Galleries"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch a specific gallery entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Gallery"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "put": {
                "summary": "Update a specific gallery.",
                "operationId": "updateResourceGallery",
                "tags": [
                    "Galleries"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/Gallery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "gallery response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/Gallery"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "delete": {
                "summary": "Delete an gallery.",
                "operationId": "deleteResourceGallery",
                "tags": [
                    "Galleries"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/idInPath"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#\/components\/responses\/deleteSuccess"
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            }
        },
        "\/job-closed-reason": {
            "get": {
                "summary": "List of a studio\u2019s job closed reasons",
                "operationId": "listResourceJobClosedReason",
                "x-entity": "JobClosedReason",
                "tags": [
                    "Job Closed Reasons"
                ],
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/pageSize"
                    },
                    {
                        "$ref": "#\/components\/parameters\/includeHidden"
                    },
                    {
                        "$ref": "#\/components\/parameters\/externalMappingId"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Sort items in the collection by the given property.",
                        "schema": {
                            "title": "Sort objects by properties",
                            "type": "string",
                            "anyOf": [
                                {
                                    "title": "id",
                                    "enum": [
                                        "id",
                                        "id asc",
                                        "id desc"
                                    ]
                                },
                                {
                                    "title": "modified",
                                    "enum": [
                                        "modified",
                                        "modified asc",
                                        "modified desc"
                                    ]
                                },
                                {
                                    "title": "created",
                                    "enum": [
                                        "created",
                                        "created asc",
                                        "created desc"
                                    ]
                                },
                                {
                                    "title": "name",
                                    "enum": [
                                        "name",
                                        "name asc",
                                        "name desc"
                                    ]
                                }
                            ],
                            "default": "id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Job Closed Reason list response.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/JobClosedReasonCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#\/components\/responses\/validationError"
                    },
                    "429": {
                        "$ref": "#\/components\/responses\/tooManyRequestsError"
                    }
                }
            },
            "post": {
                "summary": "Create a job closed reason.",
                "operationId": "createResourceJobClosedReason",
                "tags": [
                    "Job Closed Reasons"
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "$ref": "#\/components\/schemas\/JobClosedReason"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Job Role creation response.",
                        "content": {
                            "application\/json": {
                                "schema": {
[...]
